version: '3'

services:
 nginx:
  container_name: nginx
  image: nginx:0
  build: ./requirements/nginx/
  ports:
   - 443:443
   - 80:80
  volumes:
   - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:rw 
   - wordpress_site:/var/www/html/
   - ../secrets/my.key:/etc/nginx/ssl/ssl.key
   - ../secrets/my.crt:/etc/nginx/ssl/ssl.crt
  networks:
   - inception
  depends_on:
   - wordpress
#  user: 1000:1000

 wordpress:
  container_name: wordpress
  image: wordpress:0
  build: ./requirements/wordpress/
  ports:
   - 9000:9000
  volumes:
   - ./requirements/wordpress/conf/wp.conf:/etc/php84/php-fpm.d/www.conf:rw
   - wordpress_site:/var/www/html/
  environment:
   WORDPRESS_DB_HOST: mariadb:3306
   WORDPRESS_DB_USER_FILE: db_username
   WORDPRESS_DB_PASSWORD_FILE: db_userpass
   WORDPRESS_DB_NAME_FILE: db_dbname
  secrets:
   - db_username
   - db_userpass
   - db_dbname
  networks:
   - inception
  depends_on:
   - mariadb
#  user: 1000:1000

 mariadb:
  container_name: mariadb
  image: mariadb:0
  build: ./requirements/mariadb/
  ports:
   - 3306:3306
  environment:
   MARIADB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
   MARIADB_MYSQLPASS_FILE: /run/secrets/db_mysqlpass
   MARIADB_USERNAME_FILE: /run/secrets/db_username
   MARIADB_USERPASS_FILE: /run/secrets/db_userpass
   MARIADB_ADMINNAME_FILE: /run/secrets/db_adminname
   MARIADB_ADMINPASS_FILE: /run/secrets/db_adminpass
   MARIADB_DBNAME_FILE: /run/secrets/db_dbname
  secrets:
   - db_root_password
   - db_mysqlpass
   - db_username
   - db_userpass
   - db_adminname
   - db_adminpass
   - db_dbname
  volumes:
#   - /home/huakbas/data/db/:/var/lib/maria/:rw
   - mariadb_data:/var/lib/mysql/
   - ./requirements/mariadb/conf/my.cnf:/etc/my.cnf
   - ./requirements/mariadb/conf/my.cnf.d/:/etc/my.cnf.d
  networks:
   - inception
#  user: 1000:1000

networks:
 inception:

volumes:
 mariadb_data:
  name: mariadb-database
  driver_opts:
   type: none
   o: "bind, rw"
   device: "/home/huakbas/data/db"
 wordpress_site:
  name: wordpress-website
  driver_opts:
   type: none
   o: "bind, rw"
   device: "/home/huakbas/data/wp"

secrets:
 db_root_password:
  file: ../secrets/db_root_password.txt
 db_mysqlpass:
  file: ../secrets/db_password.txt
 db_username:
  file: ../secrets/wp_user_name.txt
 db_userpass:
  file: ../secrets/wp_user_password.txt
 db_adminname:
  file: ../secrets/wp_admin_name.txt
 db_adminpass:
  file: ../secrets/wp_admin_password.txt
 db_dbname:
  file: ../secrets/wp_db_name.txt
