version: '3'

services:
 nginx:
  container_name: nginx
  image: nginx:0
  build: ./requirements/nginx/
  ports:
   - 443:443
  volumes:
   - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:rw 
   - wordpress_site:/var/www/html/
   - ../secrets/ssl.key:/etc/nginx/ssl/ssl.key
   - ../secrets/ssl.crt:/etc/nginx/ssl/ssl.crt
  networks:
   - inception
  depends_on:
   - wordpress
  restart: on-failure

 wordpress:
  container_name: wordpress
  image: wordpress:0
  build: ./requirements/wordpress/
  ports:
   - 9000:9000
  volumes:
   - ./requirements/wordpress/conf/wp.conf:/etc/php84/php-fpm.d/www.conf:rw
   - wordpress_site:/var/www/html/
  environment:
   WORDPRESS_DB_HOST: mariadb:3306
   WORDPRESS_DB_USER_FILE: /run/secrets/db_username
   WORDPRESS_DB_PASSWORD_FILE: /run/secrets/db_password
   WORDPRESS_DB_NAME_FILE: /run/secrets/wp_dbname
   WORDPRESS_NAME_FILE: /run/secrets/wp_username
   WORDPRESS_PASS_FILE: /run/secrets/wp_userpass
   WORDPRESS_ADMINNAME_FILE: /run/secrets/wp_adminname
   WORDPRESS_ADMINPASS_FILE: /run/secrets/wp_adminpass
   DOMAIN_NAME: $DOMAIN_NAME
   WP_ADMIN_EMAIL: $WP_ADMIN_EMAIL
   WP_USER_EMAIL: $WP_USER_EMAIL
  secrets:
   - db_username
   - db_password
   - wp_username
   - wp_userpass
   - wp_dbname
   - wp_adminname
   - wp_adminpass
  networks:
   - inception
  depends_on:
   - mariadb
  restart: on-failure

 mariadb:
  container_name: mariadb
  image: mariadb:0
  build: ./requirements/mariadb/
  ports:
   - 3306:3306
  environment:
   MARIADB_ADMINNAME_FILE: /run/secrets/db_username
   MARIADB_ADMINPASS_FILE: /run/secrets/db_password
   MARIADB_DBNAME_FILE: /run/secrets/wp_dbname
  secrets:
   - db_password
   - db_username
   - wp_dbname
  volumes:
   - mariadb_data:/var/lib/mysql/
   - ./requirements/mariadb/conf/my.cnf:/etc/my.cnf
   - ./requirements/mariadb/conf/my.cnf.d/:/etc/my.cnf.d
  networks:
   - inception
  restart: on-failure

networks:
 inception:

volumes:
 mariadb_data:
  name: mariadb-database
  driver_opts:
   type: none
   o: "bind, rw"
   device: "/home/$LOGIN/data/db"
 wordpress_site:
  name: wordpress-website
  driver_opts:
   type: none
   o: "bind, rw"
   device: "/home/$LOGIN/data/wp"

secrets:
 db_password:
  file: ../secrets/db_password.txt
 db_username:
  file: ../secrets/db_username.txt
 wp_username:
  file: ../secrets/wp_user_name.txt
 wp_userpass:
  file: ../secrets/wp_user_password.txt
 wp_adminname:
  file: ../secrets/wp_admin_name.txt
 wp_adminpass:
  file: ../secrets/wp_admin_password.txt
 wp_dbname:
  file: ../secrets/wp_db_name.txt
