[client]
socket=/run/maria/maria.sock

[mysql]
default-character-set=utf8mb4

[mysqld]
pid-file=/run/maria/maria.pid
#skip-networking
bind-address=0.0.0.0

innodb_buffer_pool_size=64M
performance_schema=OFF

[mysqld_safe]
log_error=/var/log/maria/error_safe.log

[mariadbd]
user=mysql

datadir=/var/lib/mysql/
socket=/run/maria/maria.sock

character_set_server=utf8mb4

